@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout is not null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

<div class="row justify-content-center">
    <div class="col-12 mb-3">
        <ul class="nav justify-content-center">
            <li class="nav-item text-black">
                <a class="nav-link text-black" id="profile" asp-page="./Index">
                    <span class="fa-solid fa-user"></span>
                    Profile
                </a>
            </li>
            <li class="nav-item text-black">
                <a class="nav-link text-black" id="email" asp-page="./Email">
                    <span class="fa-solid fa-envelope"></span>
                    Email
                </a>
            </li>
            <li class="nav-item text-black">
                <a class="nav-link text-black" id="change-password" asp-page="./ChangePassword">
                    <span class="fa-solid fa-key"></span>
                    Password
                </a>
            </li>
            <li class="nav-item text-black">
                <a class="nav-link text-black" id="two-factor" asp-page="./TwoFactorAuthentication">
                    <span class="fa-solid fa-lock"></span>
                    Two-factor authentication
                </a>
            </li>
            <li class="nav-item text-black">
                <a class="nav-link text-black" id="personal-data" asp-page="./PersonalData">
                    <span class="fa-solid fa-user-secret"></span>
                    Personal data
                </a>
            </li>
        </ul>
    </div>
    <div class="col-12">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}
