@page
@model EmailModel
@{
    ViewData["Title"] = "Manage sign-in email";
}

<div class="text-center mb-3">
    <h1 class="display-6">Manage sign-in email</h1>
</div>
<partial name="_StatusMessage" for="StatusMessage"/>
<div class="row justify-content-center">
    <div class="col-12" style="max-width: 20rem;">
        <form id="email-form" method="post" class="needs-validation" novalidate>
            @if (Model.IsEmailConfirmed)
            {
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" autocomplete="email" placeholder="Please enter your email address" disabled/>
                </div>
            }
            else
            {
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control" autocomplete="email" placeholder="Please enter your email address" disabled/>
                </div>
                <div class="mb-3">
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link page-link">
                        <span class="fa-solid fa-envelope"></span>
                        Send verification email
                    </button>
                </div>
            }
            <div class="mb-3">
                <label asp-for="Form.NewEmail" class="form-label">New email</label>
                <input asp-for="Form.NewEmail" type="email" class="@(Model.Errors.ContainsKey(nameof(Model.Form.NewEmail)) ? "form-control is-invalid" : "form-control")" autocomplete="email" aria-required="true" placeholder="Please enter your email address" required/>
                @if (Model.Errors.TryGetValue(nameof(Model.Form.NewEmail), out var emailErrors))
                {
                    <div class="invalid-feedback">
                        @emailErrors.First()
                    </div>
                }
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-secondary">Change email</button>
        </form>
    </div>
</div>
