@page
@model IndexModel
@{
    ViewData["Title"] = "Manage account profile";
}

<div class="text-center mb-3">
    <h1 class="display-6">Manage account profile</h1>
</div>
<partial name="_StatusMessage" for="StatusMessage"/>
<div class="row justify-content-center">
    <div class="col-12" style="max-width: 20rem;">
        <form id="profile-form" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label asp-for="Username" class="form-label">Email</label>
                <input asp-for="Username" type="email" class="form-control" autocomplete="email" placeholder="Please choose your email" disabled/>
            </div>
            <div class="mb-3">
                <label asp-for="Form.PhoneNumber" class="form-label">Phone</label>
                <input asp-for="Form.PhoneNumber" type="tel" class="@(Model.Errors.ContainsKey(nameof(Model.Form.PhoneNumber)) ? "form-control is-invalid" : "form-control")" autocomplete="phoneNumber" placeholder="Please enter your phone number" required/>
                @if (Model.Errors.TryGetValue(nameof(Model.Form.PhoneNumber), out var phoneErrors))
                {
                    <div class="invalid-feedback">
                        @phoneErrors.First()
                    </div>
                }
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-secondary">Save</button>
        </form>
    </div>
</div>
