@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <div class="text-center mb-3">
        <h1 class="display-6">Access denied</h1>
        <p>You do not have access to this resource.</p>
    </div>
</header>
