@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="text-center mb-3">
    <h1 class="display-6">Confirm email</h1>
</div>
<partial name="_StatusMessage" model="Model.StatusMessage"/>
