@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="text-center mb-3">
    <h1 class="display-6">Confirm email change</h1>
</div>
<partial name="_StatusMessage" model="Model.StatusMessage"/>
