@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <div class="text-center mb-3">
        <h1 class="display-6">Locked out</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-12" style="max-width: 30rem;">
            <p>This account has been locked out, please try again later.</p>
        </div>
    </div>
</header>
