@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<div class="text-center mb-3">
    <h1 class="display-6">Recovery code verification</h1>
</div>
<div class="row justify-content-center">
    <div class="col-12" style="max-width: 30rem;">
        <p>
            You have requested to sign in with a recovery code. This login will not be remembered until you provide an authenticator code at log in or disable 2FA and sign in again.
        </p>
    </div>
    <div class="col-12" style="max-width: 20rem;">
        <form method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label asp-for="Form.RecoveryCode" class="form-label">Verification code</label>
                <input asp-for="Form.RecoveryCode" class="@(Model.Errors.ContainsKey(nameof(Model.Form.RecoveryCode)) ? "form-control is-invalid" : "form-control")" autocomplete="off" placeholder="Please enter your code" required/>
                @if (Model.Errors.TryGetValue(nameof(Model.Form.RecoveryCode), out var recoveryCodeErrors))
                {
                    <div class="invalid-feedback">
                        @recoveryCodeErrors.First()
                    </div>
                }
            </div>
            <button type="submit" class="w-100 btn btn-secondary">Sign in</button>
        </form>
    </div>
</div>
