@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Send again email confirmation";
}

<div class="text-center mb-3">
    <h1 class="display-6">Send again email confirmation</h1>
</div>
<div class="row justify-content-center">
    <div class="col-12" style="max-width: 20rem;">
        <form method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label asp-for="Form.Email" class="form-label">Email</label>
                <input asp-for="Form.Email" type="email" class="@(Model.Errors.ContainsKey(nameof(Model.Form.Email)) ? "form-control is-invalid" : "form-control")" autocomplete="email" aria-required="true" placeholder="Your email address" required/>
                @if (Model.Errors.TryGetValue(nameof(Model.Form.Email), out var emailErrors))
                {
                    <div class="invalid-feedback">
                        @emailErrors.First()
                    </div>
                }
            </div>
            <button type="submit" class="w-100 btn btn-secondary">Send again</button>
        </form>
    </div>
</div>
