@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="text-center mb-3">
    <h1 class="display-6">Reset password confirmation</h1>
    <p>
        Your password has been reset. Please <a asp-page="./Login" class="text-black">click here to sign in</a>.
    </p>
</div>
